body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(255,92,14,1) 0%, rgba(232,76,101,1) 50%, rgba(208,58,193,1) 100%);
    color: white;
}

a {
    color: #000000; /* Color for unclicked links */
    text-decoration: none; /* Removes the underline */
}

nav ul li a, footer {
    color: white; /* Ensure readability against the dark background */
}

header {
    background: #FA5825;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 2em 5%;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: rgba(208,58,193,1);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}

/* Adjust iframe sizes for different devices */
iframe {
    width: 100%;
    height: 450px; /* Default height */
}

/* Media Queries */
@media (max-width: 768px) {
    /* Adjust styles for tablets and smaller devices */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 5px;
    }

    /* Adjust iframe height for smaller screens */
    iframe {
        height: 300px;
    }
}

@media (max-width: 480px) {
    /* Adjust styles for mobile phones */
    h1, h2, h3 {
        font-size: smaller;
    }

    /* Further adjustments to navigation and other elements */
}

#about {
    display: flex;
    margin: 2em 5%;
}

.about-column {
    flex: 1;
    padding: 10px;
}

.about-column:not(:last-child) {
    border-right: 1px solid #ccc;
}

.engineering-column {
    text-align: right;
}


@media (max-width: 768px) {
    #about {
        flex-direction: column;
    }

    .about-column:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
}


