body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Responsive Navigation Menu */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 10px;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
}

section {
    margin: 2em 5%;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}

/* Adjust iframe sizes for different devices */
iframe {
    width: 100%;
    height: 450px; /* Default height */
}

/* Media Queries */
@media (max-width: 768px) {
    /* Adjust styles for tablets and smaller devices */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 5px;
    }

    /* Adjust iframe height for smaller screens */
    iframe {
        height: 300px;
    }
}

@media (max-width: 480px) {
    /* Adjust styles for mobile phones */
    h1, h2, h3 {
        font-size: smaller;
    }

    /* Further adjustments to navigation and other elements */
}

#about {
    display: flex;
    margin: 2em 5%;
}

.about-column {
    flex: 1;
    padding: 10px;
}

.about-column:not(:last-child) {
    border-right: 1px solid #ccc;
}

.engineering-column {
    text-align: right;
}

@media (max-width: 768px) {
    #about {
        flex-direction: column;
    }

    .about-column:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
}


